<html lang="vi" class="">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/admin/assets/images/favicon.ico" type="image/x-icon">
    <!-- vendor css -->
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
    <link href="~/assets/admin/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/admin/assets/css/plugins/animate.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>

<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper  ">
            <div class="navbar-content scroll-div ">
                <div class="">
                    <div class="main-menu-header">
                        <img src="@Url.Content("~/assets/admin/assets/images/default-avatar.png")" alt="User-Profile-Image" class="img-radius">
                        <div class="user-details">
                            <span>Admin</span>
                            <div id="more-details">
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Quản lý</label>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","AspNetUsers")" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Staff</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="@Url.Action("Index","Categories")" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-layout"></i></span>
                            <span class="pcoded-mtext">Categogy</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="@Url.Action("Index","Types")" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-layout"></i></span>
                            <span class="pcoded-mtext">Type</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Products")" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-wind"></i></span>
                            <span class="pcoded-mtext">Product</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","CustomerOrders")" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-inbox"></i></span> <span class="pcoded-mtext">Order</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Statistics")" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                            <span class="pcoded-mtext">Statistics</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Customer","Contact")" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-phone"></i></span>
                            <span class="pcoded-mtext">Customer Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#!" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="~/assets/admin/assets/images/logo.png" alt="" class="logo">
                <img src="~/assets/admin/assets/images/logo-icon.png" alt="" class="logo-thumb">
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <img src="@Url.Content("~/assets/admin/assets/images/default-avatar.png")" alt="User-Profile-Image" class="img-radius mr-2" style="width: 2.5vw;">
                            <span class="mr-3">Admin</span>
                        </a>
                        <a href="javascript:document.getElementById('logoutForm').submit()" title="Log out" class="dud-logout"> <i class="feather icon-log-out"></i></a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <ul class="pro-body">
                                <li>
                                    <a href="https://tancool.net/thong-tin-ca-nhan" class="dropdown-item">
                                        <i class="feather icon-user"></i>
                                        Thông tin cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a href="https://tancool.net/thay-doi-mat-khau" class="dropdown-item">
                                        <i class="feather icon-lock"></i>
                                        Đổi mật khẩu
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    @if (Session["notification"] != null && Session["notification"].ToString() == "Thêm mới thành công!")
    {
        <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="type-success" onclick="test()">Success</button>
        <script>
            function test() {
                sweetAlert
                    ({
                        title: "Thêm mới thành công !",
                        type: "success"
                    })
            }
            window.onload = function () {
                document.getElementById('type-success').click();
            }
        </script>
        Session["notification"] = null;
    }
    else if (Session["notification"] != null && Session["notification"].ToString() == "Cập nhật thành công!")
    {
        <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="type-success" onclick="test()">Success</button>
        <script>
            function test() {
                sweetAlert
                    ({
                        title: "Cập nhật thành công !",
                        type: "success"
                    })
            }
            window.onload = function () {
                document.getElementById('type-success').click();
            }
        </script>
        Session["notification"] = null;
    }

    @RenderBody()

    <!-- Required Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- custom-chart js -->
    <script src="~/assets/admin/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/admin/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/admin/assets/js/pcoded.min.js"></script>
    <script src="~/assets/Admin/assets/ckeditor/ckeditor.js"></script>

    <!-- Sweet Alert -->
    <script src="~/assets/admin/assets/js/SweetAlert/sweetalert.js"></script>
    <!-- Data Table -->
    <script src="~/assets/admin/assets/js/jquery.dataTables.min.js"></script>
    <!--My script function-->

    <script src="~/assets/admin/assets/js/Function.js"></script>

    @RenderSection("scripts", required: false)
    
</body>
</html>