<!DOCTYPE html>
<html lang="vi" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="description" content="Website bán cây cảnh.">
    <meta name="keywords" content="cây cảnh">
    <meta name="author" content="RetroTeam">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/admin-staff/img/ico/favicon.ico")">
    <script src="@Url.Content("~/assets/admin-staff/vendors/js/pace/pace.min.js")" data-pace-options='{ "ajax": false }'></script>
    <link href="@Url.Content("~/assets/admin-staff/vendors/js/pace/themes/red/pace-theme-minimal.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="@Url.Content("~/assets/admin-staff/fonts/feather/style.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/admin-staff/fonts/simple-line-icons/style.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/admin-staff/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    @Styles.Render("~/Content/adminCss")
</head>
@Html.HtmlMinify(@<text>
    <body data-col="2-columns" class=" 2-columns ">
        <div class="wrapper">
            <div data-active-color="white" data-background-color="black" class="app-sidebar">
                <div class="sidebar-header">
                    <div class="logo clearfix">
                        <a href="@Url.Action("Index", "Home", new { Area = "" })" class="logo-text float-left">
                            <div class="logo-img"><img src="@Url.Content("~/assets/admin-staff/img/logos/vlu_logo.png")" alt="VLU Logo" /></div><span class="text align-middle"><img src="@Url.Content("~/assets/admin-staff/img/logos/vlu_name.png")" class="ml-15" alt="VLU name" width="94" /></span>
                        </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-disc toggle-icon"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-circle"></i></a>
                    </div>
                </div>
                <div class="sidebar-content">
                    <div class="nav-container">
                        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                            <li class="@(ViewBag.Title == "Trang chủ" ? "active" : "nav-item")">
                                <a href="@Url.Action("Index", "Home", new { Area = "" })"><i class="icon-home"></i><span data-i18n="" class="menu-title">Trang chủ</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-background"></div>
            </div>


            <nav class="navbar navbar-expand-lg navbar-light bg-faded">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-left"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><span class="d-lg-none navbar-right navbar-collapse-toggle"><a class="open-navbar-container"><i class="ft-more-vertical"></i></a></span><a id="navbar-fullscreen" href="javascript:;" class="mr-2 display-inline-block apptogglefullscreen">
                            <i class="ft-maximize blue-grey darken-4 toggleClass"></i>
                            <p class="d-none">fullscreen</p>
                        </a>
                    </div>
                    <div class="navbar-container">
                        <div id="navbarSupportedContent" class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="mr-2 mt-2">
                                    <strong>@User.Identity.Name</strong>
                                </li>
                                <li class="dropdown nav-item mr-0">
                                    <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-user-link dropdown-toggle">
                                        <span class="avatar avatar-online"><img id="navbar-avatar" src="@Url.Content("~/assets/images/img_user_avatar.png")" alt="avatar" /></span>
                                        <p class="d-none">User Settings</p>
                                    </a>
                                    @using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-right">
                                            <div class="arrow_box_right">
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="ft-power mr-2"></i><span>Đăng xuất</span></a>
                                            </div>
                                        </div>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="main-panel">
                <div class="main-content">
                    <div class="content-wrapper">
                        <div class="container-fluid">

                            @RenderBody()

                        </div>
                    </div>
                </div>

                <footer class="footer footer-static footer-light">
                    <p class="clearfix text-muted text-center px-2"><span>Copyright  &copy; 2022 <span id="pixinventLink" class="text-bold-800 primary darken-2">RETROTEAM </span></span></p>
                </footer>

            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/adminSidebarJs")
        @Scripts.Render("~/bundles/adminJs")
        @RenderSection("scripts", required: false)
    </body>
</text>)
</html>