@model IEnumerable<GardenShopOnline.Models.CustomerOrder>

<div class="myaccount-orders">
    <h4 class="small-title">MY ORDERS</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>ORDER</th>
                    <th>DATE</th>
                    <th>STATUS</th>
                    <th>TOTAL</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="account-order-id" href="#">@item.ID</a></td>
                        <td>@item.DateCreated</td>
                        <td>@item.Status</td>
                        <td>@item.Total.ToString("N0") ₫</td>
                        <td>
                            <a href="@Url.Action("OrrderDetailsList", "CustomerOrders", new { order_id = item.ID })" class="btn btn-dark order-details"><span>View</span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>