@model IEnumerable<GardenShopOnline.Models.OrderDetail>
@{ 
    int no = 0;
}
<div id="detailModal" tabindex="-1" aria-labelledby="detailModalTitle" class="modal fade bd-example-modal-lg" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-lg">
        <form>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="detailModalTitle" class="modal-title white">Chi tiết (chưa lấy)</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th class="text-center">Mã sản phẩm</th>
                                            <th class="text-center">Tên sản phẩm</th>
                                            <th class="text-center">Đơn giá</th>
                                            <th class="text-center">Số lượng</th>
                                            <th class="text-center">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                                {
                                                    no++;
                                            <tr>
                                                <td class="text-center">
                                                    @no
                                                </td>
                                                <td class="text-center">
                                                    @item.Product.ID
                                                </td>
                                                <td class="text-center">  @item.Product.Name</td>
                                                <td class="text-center">
                                                    @item.Quantity
                                                </td>
                                                <td class="text-center">
                                                   @item.Product.Price
                                                </td>    
                                                <td class="text-center">
                                                    @item.UnitPrice
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6" class="text-right">
                                                <h5>Tạm tính</h5>
                                            </td>
                                            <td class="text-left">
                                                <h5>1,100,000₫</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="text-right">
                                                <h5>VAT (%)</h5>
                                            </td>
                                            <td class="text-left">
                                                <h5>0%</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="text-right">
                                                <h5>Chiết khấu (%)</h5>
                                            </td>
                                            <td class="text-left">
                                                <h5>0%</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="text-right">
                                                <h5>Thành tiền</h5>
                                            </td>
                                            <td class="text-left">
                                                <h5>
                                                    1,100,000₫
                                                </h5>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>