@model GardenShopOnline.Models.CustomerOrder
@{
    ViewBag.Title = "Address And Payment";
}

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="../../assets/customer/images/breadcrumb/bg/1-1-1919x388.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Checkout Page</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-warning" role="alert">
            @Html.Raw(ViewBag.Error)
        </div>
    }
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "orderForm" }))
            {
                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <div class="checkbox-form">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Full Name <span class="required">*</span></label>
                                        @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Your full name", @Value = ViewData["FullName"] })
                                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        @Html.TextBoxFor(m => m.Address, new { @placeholder = "Street address", @Value = ViewData["Address"] })
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Phone <span class="required">*</span></label>
                                        @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Your phone number", @Value = ViewData["Phone"] })
                                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="your-order">
                            <h3>Your order</h3>
                            @Html.Action("GetCheckoutCart", "ShoppingCart")
                            <div class="payment-method">
                                <div class="payment-accordion">
                                    <div id="accordion">
                                        @Html.Hidden("payment")
                                        <div class="card">
                                            <div class="card-header" id="#payment-1">
                                                <h5 class="panel-title">
                                                    <a href="#" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" data-payment="cash" aria-expanded="true">
                                                        Payment Using Cash
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>
                                                        Payment on delivery. Household collection fee: ₫0 VND. Preferential shipping fee (if any) also applies to collection fee.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="#payment-2">
                                                <h5 class="panel-title">
                                                    <a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" data-payment="bank" aria-expanded="false">
                                                        Direct Bank Transfer
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-4">
                                                            <h5 class="text-center fw-bold">Vietcombank</h5>
                                                            <img class="mb-3" src="~/assets/images/sen-da-kim-cuong.jpg" /><br />
                                                            <span><strong>STK:</strong> 0181003636741</span><br />
                                                            <span><strong>Chủ TK:</strong> NGUYEN TAN DUY</span><br />
                                                            <span><strong>Chi nhánh:</strong> HCM, PGD Q4</span>
                                                        </div>
                                                        <div class="col-4">
                                                            <h5 class="text-center fw-bold">Vietcombank</h5>
                                                            <img class="mb-3" src="~/assets/images/sen-da-kim-cuong.jpg" /><br />
                                                            <span><strong>STK:</strong> 0181003636741</span><br />
                                                            <span><strong>Chủ TK:</strong> NGUYEN TAN DUY</span><br />
                                                            <span><strong>Chi nhánh:</strong> HCM, PGD Q4</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-button-payment">
                                        <input value="Place order" id="placeOrder" type="button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#placeOrder').click(function (e) {
            var orderForm = $('#orderForm');
            if (orderForm.valid()) {
                // Show empty cart message
                if (!$('.your-order-table tbody tr').length) {
                    Swal.fire({
                        title: 'Warning',
                        text: 'Your cart is empty!',
                        icon: 'warning',
                        customClass: {
                            confirmButton: 'btn btn-custom-size lg-size btn-pronia-primary'
                        },
                        buttonsStyling: false
                    })
                } else {
                    // Pass payment method to controller
                    var payment = $('.panel-title a[aria-expanded="true"]').data('payment');
                    $('#payment').val(payment);
                    orderForm.submit();
                }
            }
        })
    </script>
}