@{
    ViewBag.Title = "Search products";
    string searchKey = Request.QueryString["searchKey"] != null ? Request.QueryString["searchKey"] : "";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="shop-area mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2 order-lg-1 pt-5 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox">
                            <form action="#" id="widgets-searchbox">
                                @Html.TextBox("searchKey", searchKey, new { @type = "search", @class = "input-field", @placeholder = "Search" })
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 order-1 order-lg-2">
                    <div class="product-topbar">
                        <ul>
                            <li class="page-count">
                                <span>@Model.Count</span> Product Found of <span>@ViewData["TotalCount"]</span>
                            </li>
                            <li class="short">
                                @Html.DropDownList("Category", null, "Sort by category", new { @class = "nice-select", @id = "categoryFilter" })
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row g-y-20">
                                <div id="dataContainer">
                                    @Html.Action("GetSearchData", "Products")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->

@section scripts {
    <script type="text/javascript">
        $("#categoryFilter").change(function () {
            var typeId = $("#typeFilter").val();
            var categoryId = $(this).val();
            GetProductList(typeId, categoryId)
        });
        $("#typeFilter").change(function () {
            var typeId = $(this).val();
            var categoryId = $('#categoryFilter').val();
            GetProductList(typeId, categoryId)
        });

        function GetProductList(typeId, categoryId) {
            $.ajax({
                url: '@Url.Action("GetSearchData", "Home")',
                type: 'GET',
                data: {
                    searchKey: $('#searchKey').val(),
                    categoryId: categoryId,
                    typeId: typeId,
                },
            }).done(function (result) {
                $('#dataContainer').html(result);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
        }
    </script>
}